/* body {
  padding: 0;
    margin: 0;
} */

#heading {
  background-color: rgb(255, 102, 0);
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  font-size: 42px;
  font-family: 'Lobster', cursive;
}
.container {
  display: flex;
  height: 80vh;
  justify-content: space-evenly;
  margin-top: 10px;
}

.box {
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 10px;
  width: 49%;
}
#questionSearch {
  width: 70%;
}

#newQuestionForm {
  
  color: white;
  background-color: #dd0101;
  padding: 6px;
  margin-right: 1vw;
  border-radius: 7px;
}

#questionList {
  margin: 10px;
  background-color: white;
  overflow: auto;
  height: 80%;
}

#rightDiv {
  width: 100%;
  margin: 2px;
}

#title {
  width: 10vw;
  height: 20px;
  margin-bottom: 10px;
}

#questionDesc {
  height: 22vh;
  width: 100%;
}

#resolveBtn {
  cursor: pointer;
  background-color: #0069d9;
  color: white;
  position: relative;
  left: 75%;
  padding: 6px;
  /* float: right; */
  border-radius: 5px;
}

#submitBtn {
  cursor: pointer;
  background-color: #0069d9;
  color: white;
  float: right;
  padding: 6px;
  border-radius: 5px;
}

.quesBlock {
  padding: 5px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  background-color: rgb(253, 230, 19);
}

#quesTitle {
  overflow: hidden;
  color: rgb(196, 10, 10);
  font-weight: bolder;
  font-size: 24px;
}

#quesDesc {
  overflow: hidden;
  color: rgb(196, 10, 10);
  font-size: 20px;
}

#quesExpandedDisplay {
  display: none;
}

#respondQue {
  background-color: rgb(253, 230, 19);
  height: 50%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#respondQue :nth-child(1) {
  font-size: 32px;
  font-weight: bolder;
}

#respondQue :nth-child(2) {
  font-size: 22px;
  margin-top: 10px;
}

#submitResponse {
  background-color: #0069d9;
  color: white;
  padding: 6px;
  position: relative;
  left: 92%;
  border-radius: 5px;
}

#responseList {
  max-height: 18vh;
  overflow: auto;
  margin-bottom: 1vh;
}

#responseForm {
  /* width: 100%; */
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  /* height: 50%; */
}

#pickName {
  height: 20px;
  width: 50%;
  margin: 2px 0px 5px 0px;
}

#pickResponse {
  width: 100%;
  height: 20vh;
}

.responseBlockDiv {
  margin: 2px 0px 2px 0px;
  border-radius: 10px;
  padding: 5px;
  color: white;
  height: 40px;
  background-color: rgb(230, 111, 0);
}

#upvoteDiv {
  color: green;
  float: right;
  margin-right: 5px;
}

#downvoteDiv {
  color: red;
  margin-left: 5px;
  margin-right: 10px;
  float: right;
}

#upvoteBtn {
  cursor: pointer;
  background-color: #0069d9;
  color: white;
  padding: 6px;
  position: relative;
  left: 75%;
  border-radius: 5px;
}

#downvoteBtn {
  background-color: #0069d9;
  color: white;
  padding: 6px;
  cursor: pointer;
  position: relative;
  left: 75%;
  border-radius: 5px;
}

.dateStyle {
  float: right;
}

h3,
h1,
h2,
h4,
h5 {
  margin: 0;
  font-family: 'Lobster', cursive;
}
